{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3">

      </div>
      <div class="col-md">

        <h1>Create a Listing</h1>

        <form action="" method="post" class="form" enctype="multipart/form-data" role="form">
          {{form.csrf_token()}}

          {{ wtf.form_field(form.title, class='form-control', 
          placeholder='Title') }}

          {{ wtf.form_field(form.category, class='form-control', 
          placeholder='Category') }}

          {{ wtf.form_field(form.description, class='form-control', 
          placeholder='Description') }}

          {{ wtf.form_field(form.image)}}

          {{ wtf.form_field(form.start_bid, class='form-control', 
          placeholder='Starting Bid') }}
          
          {{ form.submit(class="btn btn-primary")}}
          </form>

      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>

{% endblock %}