{% extends 'base.html' %}

{% block content %}
<!--HEADER-->
<header class="masthead overflow-hidden">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light"> {{item.name}} </h1>
            </div>
        </div>
    </div>
</header>
<!--/HEADER-->


<div class="row no-gutters m-2 ml-2 mb-2">
    <div class="col-md bg-dark px-3 py-3 mr-1 ml-1 mt-1 justify-content-center">
        <div class="row bg-white pt-2 ml-1 mr-1 border">
            <div class="col col-lg-2 mb-3">
                <img src="{{item.image}}"
                    class="mx-auto img-fluid min-vh-0">
            </div>
            <div class="col-lg-5 mx-auto">
                <div class="row mx-1 mb-2">
                    <h1>{{item.name}}</h1>
                </div>
                <div class="row mx-1">
                    {{item.description}}
                </div>
            </div>
            <div class="col-md">
                <h2>Starting Bid</h2>
                <h2><span class="badge badge-danger">{{item.start_currency}}</span></h2>
                <h2>Current Bid</h2>
                <h2><span class="badge badge-success">{{item.bids}}</span></h2>
                <h2>Number of Bids</h2>
                <h2><span class="badge badge-primary">{{item.bids|length}}</span></h2>
            </div>
            <div class="col-lg text-center my-auto py-2">
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                    data-target="#BidModal">Place Bid
                </button>
                <button type="button" class="btn btn-secondary btn-lg btn-block"><a class="remove_link_colour"
                        href="{{url_for('main.watchlist')}}">Add to Watchlist</a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}