{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!--HEADER-->
<header class="masthead overflow-hidden">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Live Listings</h1>
            </div>
        </div>
    </div>
</header>
<!--/HEADER-->

<!--Row-->
<div class="row no-gutters mt-2 mr-1 ml-2 mb-2">
    <div class="col bg-dark pt-3 pl-3 pr-3 ml-1 mt-1 justify-content-center">
        <div class="row">
            <div class="col-md-3 pb-3">
                <form class="form-inline d-flex flex-nowrap" action="{{url_for('listing.category')}}" method="post">
                    {{form.csrf_token()}}

                    <select class="form-control no-label my-1 mr-sm-2 flex-grow-1" id="category" name="category"
                        placeholder="Category" required="">
                        <option selected="" value="None">Select Category</option>
                        <option value="Apple">Apple</option>
                        <option value="Google">Google</option>
                        <option value="Samsung">Samsung</option>
                        <option value="Sony">Sony</option>
                        <option value="Oppo">Oppo</option>
                    </select>
                    <button type="submit" id="submit" name="submit" value="Filter"
                        class="flex-shrink-1 btn btn-primary my-1">Submit</button>


                </form>
            </div>
            <div class="col-md-5 pb-3 float-right">
                <form class="form-inline d-flex flex-nowrap" action="{{url_for('listing.search')}}">
                    <input type="text" name="search" class="form-control flex-grow-1 my-1 mr-sm-2" placeholder="Search">
                    <button type="submit" name="search" class="flex-shrink-1 btn btn-primary my-1">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters m-2 ml-2 mb-2">
    <div class="col-md bg-dark pt-3 pl-3 pb-3 pr-3 mr-1 ml-1 mt-1 justify-content-center">
        {% for item in items %}
        <div class="row bg-white pt-2 ml-1 mr-1 border">
            <div class="col col-lg-2 mb-3">
                <img src="{{item.image}}" class="mx-auto img-fluid min-vh-0">
            </div>
            <div class="col-lg-5 mx-auto">
                <div class="row mx-1 mb-2">
                    <h1><a href="{{url_for('listing.item', id=item.id)}}" class="remove_link_colour">{{item.name}}</a>
                    </h1>
                </div>
                <div class="row mx-1">
                    {{item.description}}
                    <br>
                    {{item.category}}
                </div>
            </div>
            <div class="col-md">
                <h2>Starting Bid</h2>
                <h2><span class="badge badge-danger">${{item.start_currency}}AU</span></h2>
                <h2>Current Bid</h2>
                <h2><span class="badge badge-success">${{item.curr_currency}}AU</span></h2>
                <h2>Number of Bids</h2>
                <h2><span class="badge badge-primary">{{item.bids|length}}</span></h2>
            </div>
            <div class="col-lg text-center my-auto py-2">
            {% if item.user_id != user.id %}
            {% if item.status == True %}
                <div class="col-lg text-center my-auto py-2">
                    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal"
                        data-target="#mo{{item.id}}">Add bid
                    </button>
                </div>
                <div class="col-lg text-center my-auto py-2">
                    <form class="form-inline d-flex flex-nowrap" action="{{url_for('main.watchlist')}}" method="post">
                        <button class="btn btn-primary btn-lg btn-block" type="submit" name="watchlist"
                            value="{{item.id}}">Add to watchlist</button>
                    </form>
                </div>
                {% else %}
                <div class="col-lg text-center my-auto py-2">
                    <button type="button" class="btn btn-success btn-lg btn-block" data-target="#AllBids">${{item.curr_currency}}AU</button>
                </div>
                <div class="col-lg text-center my-auto py-2">
                    <button type="button" class="btn btn-secondary btn-lg btn-block" data-target="#AllBids">Listing
                        Closed</button>
                </div>
                {% endif %}
                {% else %}
                <div class="col-lg text-center my-auto py-2">
                    <div class="col-lg text-center my-auto py-2">
                        <button type="button" class="btn btn-primary btn-lg btn-block">Your Listing</button>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% for item in items %}
<div class="modal fade" id="mo{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">All Bids</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="" method="post" class="form" enctype="multipart/form-data" role="form"></form>
            {{bid_form.csrf_token()}}
            <div class="modal-body">
                {{wtf.quick_form(bid_form, "/listings/{0}/bid".format(item.id))}}
            </div>
            <div class="modal-footer">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}