{% extends 'base.html' %}

{% block content %}
    <!--HEADER-->
    <header class="masthead overflow-hidden">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <h1 class="font-weight-light">Phone Auctions</h1>
                    <p class="lead">The best site for unique phone auctions.</p>
                </div>
            </div>
        </div>
    </header>
    <!--/HEADER-->



    <!--ROW 2-->
    <div class="row no-gutters m-2 ml-2 mb-2">
        <div class="col-md bg-dark pt-3 pl-3 pb-3 pr-3 mr-1 ml-1 mt-1 bg-image panel-height-4">
        </div>
        <div class="col-md bg-dark pt-3 pl-3 pb-3 pr-3 mr-1 ml-1 mt-1 panel-height-4">
            <h3 class="text-white mb-3">Categories</h1>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.listings')}}">Apple</a>
                        <span class="badge badge-primary badge-pill">14232</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.listings')}}">iPhone</a>
                        <span class="badge badge-primary badge-pill">12354</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.listings')}}">Google</a>
                        <span class="badge badge-primary badge-pill">12133</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.listings')}}">Samsung</a>
                        <span class="badge badge-primary badge-pill">4682</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.listings')}}">Sony</a>
                        <span class="badge badge-primary badge-pill">3932</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.listings')}}">Oppo</a>
                        <span class="badge badge-primary badge-pill">1932</span>
                    </li>
                </ul>
        </div>
        <div class="col-md bg-dark pt-3 pl-3 pb-3 pr-3 ml-1 mr-1 mt-1 panel-height-4">
            <h3 class="text-white mb-3">Popular Listings</h1>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.item')}}">Apple iPhone XR - 128GB - Factory New</a>
                        <div>
                            <span class="badge badge-success">$400AU</span>
                            <span class="badge badge-primary badge-pill">211</span>
                            <span class="badge badge-success badge-pill">Ongoing</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.item')}}">Apple iPhone 6S - 64GB - 2 Years</a>
                        <div>
                            <span class="badge badge-success">$200AU</span>
                            <span class="badge badge-primary badge-pill">115</span>
                            <span class="badge badge-success badge-pill">Ongoing</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.item')}}">Google Pixel 4a Black - 128GB - New</a>
                        <div>
                            <span class="badge badge-success">$400AU</span>
                            <span class="badge badge-primary badge-pill">96</span>
                            <span class="badge badge-danger badge-pill">Closed</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.item')}}">Samsung Galaxy A11 - 16GB - 1 Year</a>
                        <div>
                            <span class="badge badge-success">$120AU</span>
                            <span class="badge badge-primary badge-pill">67</span>
                            <span class="badge badge-success badge-pill">Ongoing</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.item')}}">Apple iPhone 8 Plus - 128GB - 1 Year</a>
                        <div>
                            <span class="badge badge-success">$400AU</span>
                            <span class="badge badge-primary badge-pill">23</span>
                            <span class="badge badge-success badge-pill">Ongoing</span>
                        </div>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a class="remove_link_colour" href="{{url_for('main.item')}}">Oppo AX5s - 64GB - New</a>
                        <div>
                            <span class="badge badge-success">$300AU</span>
                            <span class="badge badge-primary badge-pill">14</span>
                            <span class="badge badge-success badge-pill">Ongoing</span>
                        </div>
                    </li>
                </ul>
        </div>
    </div>
    <!--/ROW 2-->
{% endblock %}