{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="container-fluid">
  <div class="row mt-3 mb-3">
    <div class="col-md-12">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
{% endwith %}


  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3">

      </div>
      <div class="col-md">

        <h1>Login</h1>

        <form action="" , method="POST">
        {{form.csrf_token()}}
        
        {{ wtf.form_field(form.user_name, class='form-control', 
        placeholder='Username') }}

        {{ wtf.form_field(form.password, class='form-control', 
        placeholder='Password') }}

        {{ form.submit(class="btn btn-primary")}}
        </form>

        <button class="btn btn-info mt-3"><a class="remove_link_colour" href="{{url_for('authentication.register')}}">Register Here</a></button>

      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>

{% endblock %}